html,body{
    margin: 0;
    height: 100%;
    background-color: #fafafa;
}

.logo{
    float: left;
}

.navigation-bar {
  height: 60px;
  padding: 20px;
  background-color: #fff;
}

.navigation-container {
    margin: 0 auto;
    height: 70px;
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  float: right;
  background: #42515f;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}

.form-content {
    min-height: calc(100% - 80px);
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.form{
    width: 30%;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #b5b3ac;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContent{
    width: 100%;
}

h2{
    font-size:32px;
    margin-top:0px;
    color: #00b0f0;
}

input{
    //width: 100%;
    display: block;
    padding: 12px;
    color: #42515f;
    border: 1px solid #cccccc;
    border-radius: 4px;
    resize: vertical;
}

.input:focus{
    outline: none !important;
    border: 1px solid #00b0f0;
    color: #00b0f0;
}

.button{
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    padding: 8px 0px;
    cursor: pointer;
}

.row-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    //align-items: flex-start;
    position:relative;
}

.row-button{
    margin-top: 30px;
    text-align: center;
}

.row-button > a{
    text-decoration: none;
    color: #00b0f0;
}

label {
    padding:10px;
    pointer-events: none;
    position:absolute;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    background: #fff;
    color: #000;
    font: normal normal normal 16px Roboto;
}

input:focus + label, input:not(:placeholder-shown) + label {
    opacity:1;
    color: #00b0f0;
    transform: scale(0.75) translateY(-70%) translateX(-14px);
}

.error{
    font-size: 12px;
    font-style: italic;
    color: red;
    height: 10px;
    padding-top: 3px;
}

.mt-5{
    margin-top: 20px;
}

.justify-center{
    justify-content: center;
}

@media only screen and (max-width: 420px){
    .form{ 
        width: 70%;
        padding: 24px 20px;
    }
    label{
        font-size: 16px;
    }
    .row-button{
        margin-top: 10px;
    }
    .mt-5{
        margin-top: 10px;
    }
    h2{
        font-size: 26px;
    }
}

@media only screen and (min-width:500px) and (max-width: 1024px){
    .form{
        width: 60%;
        padding: 34px 30px;
    }
}